/** Your theme modifications here **/
.alignleft {
	float: left;
	color:black;
	margin-top:0px;
}
.alignright {
	float: right;
	margin-top:0px;
	color:black;
}
.alignleft-icon {
	float: left;
	margin-top:10px;
}
.alignright-icon {
	float: right;
	margin-top:10px;
}
.alignright-market {
	float: right;
	margin-top:0px;
	margin-left:20px;
	color:black;
}.alignright-market:hover {
	float: right;
	margin-top:0px;
	color:red;
}
.alignright:hover {
	float: right;
	margin-top:0px;
	color:red;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


.custom-box{
padding:10px;
}
.circle-num{
-webkit-border-radius: 50%; 
  /* Firefox 1-3.6 */
 -moz-border-radius: 50%; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
border-radius:  50%;
padding: 3px 10px 3px 10px ;
font-size:25px;
background-color:red;
color:white;
margin-right:10px;
}

.link {
	color:black;
}
.link:hover {
	color:red;
}
.category-products{
	border-radius: 0px 0px 0px 0px;
	padding-bottom:20px;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}
.category-products img{
	border-radius: 0px 0px 0px 0px;
	height:50px;
	width:50px;
	margin-right:15px;

}
/* CSS used here will be applied after bootstrap.css */

.carousel {
    margin-top: 20px;
	border:1px solid #000;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
	
}
.item .thumb img {
	width: 100%;
	margin: 2px;
	
}
.item img {
	width: 100%;
}

.varianlist li
{
display: inline-block;
list-style-type: none;
color: black;
}
.varianlist li a
{
color: black;
border:1px solid #000;
padding: 5px;
}
.varianlist li a:hover
{
color: red;
}




.img-footer img{
	height:50px;
	width:100px;
}
.item-desc h4{
    margin-left:0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:15px;
	margin-bottom:0px;
}
.item-desc p{
    margin-left:0px;
	color:#ff0000;
	white-space: nowrap;
}

.input-xs {
    height: 30px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
    border-radius: 3px;
    }
.flat{
border-radius:0px 0px 0px 0px;
}


.no-padding{
padding:0px;
}
/* CSS used here will be applied after bootstrap.css */

/* Create a medium height at 40px */
.navbar-md {min-height:40px}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav>li>a {padding-top:20px; padding-bottom:10px }
.navbar-md .navbar-toggle {margin: 6px 12px 6px 0px; padding: 6px 7px 6px 7px;}
.navbar-md .navbar-toggle .icon-bar {width: 19px;}


/* Create a small height at 30px */
.navbar-sm {min-height:30px}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav>li>a {padding-top:5px; padding-bottom:5px}
.navbar-sm .navbar-brand {height: 30px}
.navbar-sm .navbar-toggle {margin: 3px 9px 3px 0px; padding: 4px 4px 4px 4px;}
.navbar-sm .navbar-toggle .icon-bar {width: 16px;}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}
#navcontainer ul li { display: inline; }
 
.navs{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}
.navs li{
    display:inline;
}
.navs a{
    display:inline-block;
    padding:0px 15px 0px 15px;
	color:black;
}

.navs a:hover{
	color:red;
}
 
 
 
.navs-variant{
    list-style:none;
    margin:0;
    padding:5px;
}
.navs-variant li{
    display:inline;
}
.navs-variant a{
    display:inline-block;
	padding:5px;
	border: 1px solid #000;
	background: white; 
	color:black;
}
.navs-variant a:hover{
	background: rgba(0, 0, 0, 255); 
	color:white;
}

a{

	color:black;
}
ul#menu {
	margin-top:10px;
    padding: 0;
}
ul#menu li {
    display: inline;
	color: black;
	padding-right: 10px;
}

.nav-heart{
color:red;
}
.nav-heart:hover{
color:#800000;
}   
.nav-user{
color:red;
} 
.nav-user:hover{
color:#cc9900;
}  
.nav-star{
color:red;
} 
.nav-star:hover{
color:#cc9900;
}  
.nav-cart{
color:blue;
}  
.nav-cart:hover{
color:#000066;
}   
 
.heart{
color:red;
padding:5px;
font-size:15px;
}
.heart:hover{
color:#800000;
}   
.star{
color:red;
padding:5px;
font-size:15px;
} 
.star:hover{
color:#800000;
}  
.cart{
color:white;
padding:10px;
-webkit-border-radius: 50%; 
  /* Firefox 1-3.6 */
 -moz-border-radius: 50%; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
border-radius:  50%;
background: blue;
}  
.cart:hover{
background:#000066;
}   
.cart-cart{
color:blue;
font-size:15px;
}  
.cart-cart:hover{
color:#000066;
}
.cart-cart-cart{
color:blue;
padding:5px;
font-size:15px;
}  
.cart-cart-cart:hover{
color:#000066;
} 
#search-toggle{
margin-top:0px; padding:0px; margin:0px; 
}
#search-toggle:hover{
background:transparent;
}

.market{
	margin-bottom:10px;	
}
.market-logo{
	padding:0px;
	border: 1px solid #transparent;
}
.market-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.market-menu li {
	margin: 10px;
    display: inline;
	color:#000;
}
.market-menu li a {
	color:#000;	
}
.market-category{
	margin-bottom:0px;	
}
.market-slide{
padding-right:0px; padding-bottom:30px;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}



.store-logo{
	border: 2px solid transparent;
	overflow:hidden;
	background:#fff;
	padding: 0px;	
}
.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:90%;
	width:90%;
}
.store-logo-detais{
	border: 2px solid transparent;
	overflow:hidden;
	background:#fff;
	padding: 0px;	
	margin-bottom:20px;
}
.store-logo-detais img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:90%;
	width:90%;
}








.product-logo{
	border: 2px solid transparent;
	overflow:hidden;
	padding: 0px;	
	margin-bottom:20px;
	
}
.product-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:99%;
	width:99%;
}


#textbox{
margin-top:10px;
}

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 96px;
}
.wraptocenter * {
    vertical-align: middle;
}


.wraptocenter-product-logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 400px;
	width: 400px;
}
.wraptocenter-product-logo * {
    vertical-align: middle;
}
/*\*//*/
.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/
</style>
<!--[if lt IE 8]><style>
.wraptocenter span {
    display: inline-block;
    height: 100%;
}

.sidebar-menu .panel-body ul li a{
color:black;
}
.sidebar-menu .panel-body ul li a:hover{
color:red;
}



@media(max-width:767px){
	.market-logo{
		display:none;
	}
	.market-slide{
	padding:0px; 
	}
	.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100px;
	}
	.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:70%;
	width:70%;
	}
	
}
@media(min-width:768px){
	.market-logo{
		display:none;
	}
	.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100px;
	}
	.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:70%;
	width:70%;
	}
}
@media(min-width:992px){
	.market-logo{
		display:block;
	}
	.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 80px;
	}
	.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:70%;
	width:70%;
	}

}
@media(min-width:1200px){
	.market-logo{
		display:block;
	}
	.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 96px;
	}
	.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:90%;
	width:90%;
	}
}


