/** Your theme modifications here **/
.alignleft {
	float: left;
	color:black;
	margin-top:0px;
}
.alignright {
	float: right;
	margin-top:0px;
	color:black;
}

.alignright-market {
	float: right;
	margin-top:0px;
	margin-left:20px;
	color:black;
}.alignright-market:hover {
	float: right;
	margin-top:0px;
	color:red;
}
.alignright:hover {
	float: right;
	margin-top:0px;
	color:red;
}
.link:hover {
	color:red;
}
.category-products{
	border-radius: 0px 0px 0px 0px;
	padding-bottom:20px;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}
.category-products img{
	border-radius: 0px 0px 0px 0px;
	height:50px;
	width:50px;
	margin-right:15px;

}
.img-footer img{
	height:50px;
	width:100px;
}
.item-desc h4{
    margin-left:0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:15px;
	margin-bottom:0px;
}
.item-desc p{
    margin-left:0px;
	color:#ff0000;
	white-space: nowrap;
}

.input-xs {
    height: 30px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
    border-radius: 3px;
    }
.flat{
border-radius:0px 0px 0px 0px;
}


.no-padding{
padding:0px;
}
/* CSS used here will be applied after bootstrap.css */

/* Create a medium height at 40px */
.navbar-md {min-height:40px}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav>li>a {padding-top:20px; padding-bottom:10px }
.navbar-md .navbar-toggle {margin: 6px 12px 6px 0px; padding: 6px 7px 6px 7px;}
.navbar-md .navbar-toggle .icon-bar {width: 19px;}


/* Create a small height at 30px */
.navbar-sm {min-height:30px}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav>li>a {padding-top:5px; padding-bottom:5px}
.navbar-sm .navbar-brand {height: 30px}
.navbar-sm .navbar-toggle {margin: 3px 9px 3px 0px; padding: 4px 4px 4px 4px;}
.navbar-sm .navbar-toggle .icon-bar {width: 16px;}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}
#navcontainer ul li { display: inline; }
 

 
.heart{
color:red;
font-size:15px;
}
.star{
color:yellow;
font-size:15px;
} 
.cart{
color:blue;
font-size:15px;
}    

#search-toggle{
margin-top:0px; padding:0px; margin:0px; 
}
#search-toggle:hover{
background:transparent;
}

.market{
	margin-bottom:10px;	
}
.market-logo{
	padding:0px;
	border: 1px solid #transparent;
}
.market-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.market-menu li {
	margin: 10px;
    display: inline;
	color:#000;
}
.market-menu li a {
	color:#000;	
}
.market-category{
	margin-bottom:0px;	
}
.market-slide{
padding-right:0px; padding-bottom:30px;
}
.store-logo{
	border: 2px solid transparent;
	overflow:hidden;
	background:#fff;
	padding: 0px;
}
.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:90%;
	width:90%;
}

#textbox{
margin-top:10px;
}

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 96px;
}
.wraptocenter * {
    vertical-align: middle;
}
/*\*//*/
.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/
</style>
<!--[if lt IE 8]><style>
.wraptocenter span {
    display: inline-block;
    height: 100%;
}





@media(max-width:767px){
	.market-logo{
		display:none;
	}
	.market-slide{
	padding:0px; 
	}
	.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100px;
	}
	.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:70%;
	width:70%;
	}
	
}
@media(min-width:768px){
	.market-logo{
		display:none;
	}
	.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100px;
	}
	.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:70%;
	width:70%;
	}
}
@media(min-width:992px){
	.market-logo{
		display:block;
	}
	.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 80px;
	}
	.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:70%;
	width:70%;
	}

}
@media(min-width:1200px){
	.market-logo{
		display:block;
	}
	.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 96px;
	}
	.store-logo img{
	display: inline-block;
	/*max-width: 100%;*/
	height: auto !important;
	height:90%;
	width:90%;
	}
}


